@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700');

body {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 10px;
	z-index: 1;
	width: 100%;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
}

.block {
	position: fixed; width: 250px;
	transform: translate(-50%, -50%); top: 66%; left: 50%;
	background-color: #df2f2f;
	border-radius: 10px;
	opacity: 0;
	box-shadow: 10px 10px 30px rgba(0,0,0, 0.7);
}

/*
.block img {
	position: absolute; top: 0; left: 0; height: 100%; width: 100%;
	opacity: 0.3;
	border-radius: 10px; 
}
*/

.block_active {
	opacity: 1; transition: 0.3s;
	transform: translate(-50%, -50%); top: 50%; left: 50%;
	z-index: 3;
}

.block p {
	position: relative; margin: 25px 15px 0px;
	font-size: 18px; 
	text-align: center; line-height: 30px;
	color: white;
	text-shadow: 3px 3px 15px rgba(0,0,0, 0.7);
}

.film_name--block {
	position: relative; min-height: 90px;
	margin: 10px 10px 0px;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.film_name--block p:nth-child(1) {
	position: relative; 
	font-size: 18px; color: #111111;
	text-align: center; line-height: 30px; font-weight: 700;
}

.film_button--block {
	cursor: pointer;
	position: relative; width: 50%; height: 30px; color: white;
	background-color: #111111; margin: 10px 0px;
	transform: translateX(-50%); left: 50%;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0, 0.7);
}

.film_button--block p:nth-child(1) {
	position: relative; font-size: 12px;
	margin: 0px 0px 0px;
	transform: translate(-50%, -50%); top: 50%; left: 50%;
}

.close_bcg {
	position: fixed; width: 100%; height: 100%;
	opacity: 0;
	background-color: rgba(0,0,0, 0.6);
}

.close_bcg_active {
	opacity: 1; transition: 0.3s;
	z-index: 3;
}

.film_block--close {
	cursor: pointer;
	position: absolute; width: 30px; height: 30px;
	border-radius: 30px;
	background-color: #111111;
	transform: translate(-50%, -50%); top: 0; left: 50%;
	box-shadow: 5px 5px 15px rgba(0,0,0, 0.7);
}

.film_block--close span:after {
	content: '';
	position: absolute; width: 50%; height: 2px; background-color: white;
	transform: translate(-50%, -50%) rotate(45deg); top: 50%; left: 50%
}

.film_block--close span:before {
	content: '';
	position: absolute; width: 50%; height: 2px; background-color: white;
	transform: translate(-50%, -50%) rotate(-45deg); top: 50%; left: 50%
}


/* --------------------------- */
/* -------- section-1 -------- */
/* --------------------------- */

.section-1 {
	position: relative; width: 100%; height: 500px; top: -50px;
	background: url(../img/bg3.jpg)no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	transform: skewY(-2deg);
}

.section-1--content {
	position: relative; width: 1170px; height: 100%;
	transform: translateX(-50%) skewY(2deg); left: 50%;
	line-height: 30px;
}

.section-1--content p:nth-child(1) {
	position: relative;
	color: white; font-size: 28px; font-weight: 700; top: 40%;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.7)
}

.section-1--content p:nth-child(2) {
	position: relative;
	color: white; font-size: 20px; font-weight: 700; top: 49%;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.7)
}

.buttons_panel {
	position: relative; height: 50px; top: 55%;
}

.button_text { 
	position: relative; transform: translateY(-50%); top: 50%;
	float: left;
}

.button_text p:nth-child(1) {
	position: relative; float: left;
	color: white; font-size: 20px; font-weight: 700;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.film_button {
	cursor: pointer; 
	position: relative; float: left;
	transform: translateY(-50%); top: 50%;;
	margin-left: 25px;
}

.film_button p:nth-child(1) {
	position: relative; float: left;
	color: white; font-size: 20px; font-weight: 700;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
	padding: 10px;
}

.film_button:hover {
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.film_button:hover p:nth-child(1) {
	color: #111111;
	text-shadow: 0px 0px 0px rgba(0,0,0, 0.0);
}

.serial_button {
	cursor: pointer; 
	position: relative; float: left;
	transform: translateY(-50%); top: 50%;;
	margin-left: 25px;
}

.serial_button p:nth-child(1) {
	position: relative; float: left;
	color: white; font-size: 20px; font-weight: 700;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
	padding: 10px;
}

.serial_button:hover {
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
}

.serial_button:hover p:nth-child(1) {
	color: #111111;
	text-shadow: 0px 0px 0px rgba(0,0,0, 0.0);
}

/* --------------------------- */
/* -------- section-2 -------- */
/* --------------------------- */

.section-2 {
	position: relative; width: 100%; min-height: 100px;

}

.section-2--content {
	position: relative; width: 1170px; min-height: 100px;
	transform: translateX(-50%); left: 50%;

}

.line {
	position: relative; width: 100%; height: 2px;
	background-color: #df2f2f; margin-top: 50px;
}

.line p {
	position: absolute; background-color: white;
	font-size: 14px; font-weight: 700; margin-left: 25px;
	transform: translateY(-50%); padding: 0px 10px 0px 10px;
}

.list {
	position: relative; width: 100%; height: min-height: 100px;
	text-align: justify; font-size: 14px; line-height: 20px;
	margin-top: 30px;
}

/* --------------------------- */
/* -------- footer ----------- */
/* --------------------------- */

.section-2--content:last-child {
	margin-bottom: 130px;
}

.section-2--content:first-child {
	margin-top: 60px;
}

.footer {
	position: relative; width: 100%; min-height: 100px;
	background-color: #111111;
}

.footer::before {
	content: '';
	position: absolute; width: 100%; min-height: 100px; top: -35px;
	background-color: #111111; transform: skewY(2deg);
}

.footer_content {
	position: relative; width: 1170px; height: 100%; 
	transform: translateX(-50%); left: 50%;
}

.footer_content p {
	position: relative; font-size: 14px; 
	transform: translateY(-50%); margin-top: 25px;
	color: white;
	float: left;
}

#year {
	margin-left: 5px;
}

.footer_inf a {
	color: white;
}
