@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    font-size: 14px; color: white;
}
a {
    text-decoration: none; color: white;
}
.background_btn {
    position: fixed; width: 100%; height: 100%; z-index: 3; bottom: -100%; transition: 0.3s;
    background-color: rgba(0,0,0, 0.5); opacity: 0;
}
.background_btn_active {
    bottom: 0; transition: 0.3s; opacity: 1;
}
/* Рандомная карточка фильма */
.film_card {
    position: fixed; width: 750px; height: 350px; z-index: 3; transition: 0.3s;
    transform: translate(-50%,-50%); top: 150%; left: 50%;
    background-color: #1f1f1f; display: flex; opacity: 0;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 1);
}
.film_card_active {
    top: 50%; transition: 0.3s; opacity: 1; transition-delay: 0.1s;
}
.film_card_l {
    position: relative; width: 250px; height: 350px; overflow: hidden;
}
.film_card_img {
    position: absolute; width: 100%; height: 100%;
    transform: translate(-50%, -50%); top: 50%; left: 50%;
} 
.film_card_conteiner {
    position: relative; width: 500px; height: 100%;
}
.film_card_conteiner .title {
    position: relative; width: 100%; height: 50px;
    display: flex; align-items: center;
}
.film_card_conteiner .title p {
    font-size: 18px; padding-left: 10px;
}
.film_card_conteiner .tags {
    position: relative; width: 100%; height: 20px;
    margin-bottom: 10px; display: flex; align-items: center;
}
.film_card_conteiner .tags p {
    font-size: 12px; padding-left: 10px;
}
.film_card_conteiner .line {
    position: relative; width: 480px; height: 2px; left: 10px;
    border-radius: 100px; background-color: white; opacity: 0.3;
}
.film_card_conteiner .description {
    position: relative; width: 100%; min-height: 30px; height: 210px; overflow: hidden;
    padding-left: 10px; padding-right: 10px; margin-top: 10px;
    font-size: 14px; line-height: 24px; text-align: left;
}
.film_card_conteiner .focus {
    position: absolute; width: 100%; height: 145px; bottom: 0;
    background: linear-gradient(0deg, #1f1f1f 40%, rgba(0,0,0, 0));
}
.film_card--close_btn {
    position: absolute; width: 30px; height: 30px; z-index: 5; right: 0; top: 0;
    cursor: pointer;
}
.film_card--close_btn span::before {
    content: ''; position: absolute; width: 15px; height: 2px;
    transform: translate(-50%,-50%) rotate(45deg); top: 50%; left: 50%;
    background-color: #fff;
}
.film_card--close_btn span::after {
    content: ''; position: absolute; width: 15px; height: 2px;
    transform: translate(-50%,-50%) rotate(-45deg); top: 50%; left: 50%;
    background-color: #fff;
}
.randBtn {
    position: absolute; min-width: 120px; height: 40px; left: 10px; bottom: 10px; z-index: 6;
    background-color: #fc2323; border-radius: 5px; cursor: pointer;
}
.randBtn p {
    position: relative; height: 100%; width: 100%;
    display: flex; align-items: center; justify-content: center;
    font-size: 14px; font-weight: 700;
}
.film_card--close_btn:hover {
    transform: rotate(180deg); transition: 0.3s;
}
.card-preloader {
    position: absolute; width: 100%; height: 100%; z-index: 7;
    background-color: #1f1f1f; opacity: 1; transition: 0.5s; visibility: visible;
    display: flex; justify-content: center; align-items: center;
}
.card-preloader .preloader {
    position: absolute; width: 100px; height: 100px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #fc2323;
    animation: spinC 2s linear infinite;
    filter: blur(0.7px);
}
.card-preloader .preloader::after {
    content: '';
    position: absolute; width: 85px; height: 85px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #f1fd40; left: 7.5px;
    animation: spinC 2s ease infinite;
}
.card-preloader .preloader::before {
    content: '';
    position: absolute; width: 110px; height: 110px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #4d77ff; left: -5px;
    animation: spinC 2s ease-in-out infinite;
}
@keyframes spinC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.preloader-done {
    opacity: 0; visibility: hidden;
}
/* Конец карточки */

/* Меню  */
.menu {
    position: fixed; width: 100%; height: 50px; transition: 0.3s;
    z-index: 2; background-color: #1f1f1f;
}
.menu_conteiner {
    position: absolute; width: 1170px; height: 100%;
    transform: translateX(-50%); left: 50%;
}
.menu_logo {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
.menu_logo p {
    font-size: 18px;
}
.menu_logo p:nth-child(2) {
    font-weight: 700; color: #fc2323;
}

/* Кнопки */
.menu_buttons { 
    position: absolute; right: 0; height: 100%;
    display: flex; align-items: center;
}
.filter_buttons {
    position: relative; height: 100%;
    display: flex;
}
.filter_buttons .filterBtn {
    position: relative; height: 100%; cursor: pointer;
}
.filter_buttons .filterBtn p {
    position: relative; height: 100%; width: 100%;
    display: flex; align-items: center; transition: 0.3s;
    padding: 0 10px;
}
.filter_buttons .filterBtn:hover p {
    color: #fc2323; transition: 0.3s;
}
.menu_buttons .line {
    position: relative; width: 2px; height: 50%; background-color: #fc2323;; margin: 0px 20px; opacity: 0.5;
}
.menu_buttons .film_rand {
    position: relative; height: 100%; cursor: pointer;
}
.menu_buttons .film_rand p {
    position: relative; height: 100%; font-weight: 700;
    display: flex; align-items: center; padding: 0 10px; transition: 0.3s;
}
.menu_buttons .film_rand:hover p {
    background-color: #fc2323; transition: 0.3s;
}
/* Конец меню */

/* Первая секция со списком фильмов */
.film_list {
    position: relative; width: 100%; min-height: 1080px; top: 60px; transition: 0.3s;
}
.film_list_conteiner {
    position: relative; width: 100%; height: 100%; margin-bottom: 40px;
    display: flex; flex-wrap: wrap; justify-content: left;
}
.film_list__film {
    position: relative; width: 250px; height: 350px; margin: 10px; transition: 0.3s;
    cursor: pointer;
}
.img_card_l {
    position: absolute; width: 100%; height: 100%;
    overflow: hidden;
}
.img_card_l .img_card {
    position: absolute; width: 100%; height: 100%;
    transform: translate(-50%, -50%); top: 50%; left: 50%;
    transition: 0.3s;
}
.film_list__film:hover {
    box-shadow: 7px 7px 10px rgba(0,0,0, 0.7); transition: 0.3s;
}
.film_list__film:hover .img_card_l .img_card {
    transform: translate(-50%, -50%) scale(1.1) rotate(3deg); top: 50%; left: 50%; transition: 0.3s;
}
.list-preloader {
    position: absolute; width: 100%; height: 100%; z-index: 7;
    background-color: #1f1f1f; opacity: 1; transition: 0.5s; visibility: visible;
    display: flex; justify-content: center; align-items: center;
}
.list-preloader .preloader {
    position: absolute; width: 100px; height: 100px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #fc2323;
    animation: spinC 2s linear infinite;
    filter: blur(0.7px);
}
.list-preloader .preloader::after {
    content: '';
    position: absolute; width: 85px; height: 85px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #f1fd40; left: 7.5px;
    animation: spinC 2s ease infinite;
}
.list-preloader .preloader::before {
    content: '';
    position: absolute; width: 110px; height: 110px; background-color: transparent;
    border-radius: 100%; border-bottom: 3px solid #4d77ff; left: -5px;
    animation: spinC 2s ease-in-out infinite;
}
@keyframes spinC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.preloaderlist-done {
    opacity: 0; visibility: hidden;
}
/* Конец - Первая секция со списком фильмов */

/* Футер */
.footer {
	position: fixed; width: 100%; height: 30px; transition: 0.3s; bottom: 0;
	background-color: #1f1f1f;
}
.footer_content {
	position: relative; width: 1170px; height: 100%;
    transform: translateX(-50%); left: 50%;
}
.footer_inf {
    position: relative; width: 100%; height: 100%;
}
.footer_content p {
	position: relative; font-size: 10px; 
	transform: translateY(-50%); top: 50%;
	color: white;
	float: left;
}
.footer_inf p a {
    transition: 0.3s;
}
.footer_inf p a:hover {
    color: red; transition: 0.3s;
}
#year {
	margin-left: 5px;
}
.footer_inf a {
	color: white;
}
/* Конец - Футер */

.fitlerBlur {
    filter: blur(5px); transition: 0.3s;
}

.btnActive {
    background-color: red;
    color: white !important;
}