@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    font-size: 14px; color: white;
}


/* Меню  */
.menu {
    position: fixed; width: 100%; height: 50px;
    z-index: 2; background-color: #1f1f1f;
}
.menu_conteiner {
    position: absolute; width: 1170px; height: 100%;
    transform: translateX(-50%); left: 50%;
}
.menu_logo {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
.menu_logo p {
    font-size: 18px;
}
.menu_logo p:nth-child(2) {
    font-weight: 700; color: red;
}

/* Поиск */
.menu_search {
    position: absolute; width: 400px; height: 30px;
    transform: translate(-50%, -50%); left: 50%; top: 50%;
}
.menu_search input {
    position: absolute; height: 100%; width: 90%;
    outline: none; border: none;padding-left: 10px;
    font-size: 16px; border-radius: 5px;
}
.menu_search button {
    position: absolute; width: 30px; height: 30px;
    transform: translateY(-50%); right: 0; top: 50%;
    outline: none; border: none; border-radius: 30px;
    cursor: pointer; background-color: red;
}
.menu_search button img {
    position: absolute; width: 15px; height: 15px;
    transform: translate(-50%, -50%); left: 50%; top: 50%;
}
.menu_search button:hover img {
    animation: searchHover 1.5s linear infinite;
}

@keyframes searchHover {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) rotate(15deg) scale(1.1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) rotate(-15deg) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
}

/* Кнопки */
.menu_buttons {
    position: absolute; height: 100%; right: 0;
    transform: translateY(-50%); top: 50%;
}
.menu_buttons .film_rand {
    position: relative; height: 100%;
    cursor: pointer; 
    transition: 0.3s;
}
.menu_buttons .film_rand:hover {
    color: red; transition: 0.3s;
}
.menu_buttons .film_rand p {
    position: relative; height: 100%;
    font-weight: 700;
    display: flex; align-items: center; padding: 0 10px;
    transform: translate(-50%); left: 50%;
}
/* Конец меню */

/* Первая секция со списком фильмов */
.film_list {
    position: relative; width: 100%; min-height: 600px; top: 60px;
}
.film_list_conteiner {
    position: relative; width: 100%; height: 100%;
    display: flex; flex-wrap: wrap; justify-content: space-between;
}
.film_list__film {
    position: relative; width: 250px; height: 350px; margin: 10px;
    cursor: pointer; background-color: red;
}
.img_card_l {
    position: absolute; width: 100%; height: 100%;
    overflow: hidden;
}
.img_card_l .img_card {
    position: absolute; width: 100%; height: 100%;
    transform: translate(-50%, -50%); top: 50%; left: 50%;
    transition: 0.3s;
}
.film_list__film--conteiner {
    position: absolute; width: 500px; height: 350px; left: 270px;
    display: none; background-color: #1f1f1f;
    z-index: 2;
}
.film_list__film:nth-child(5) .film_list__film--conteiner,
.film_list__film:nth-child(6) .film_list__film--conteiner,
.film_list__film:nth-child(7) .film_list__film--conteiner,
.film_list__film:nth-child(12) .film_list__film--conteiner,
.film_list__film:nth-child(13) .film_list__film--conteiner,
.film_list__film:nth-child(14) .film_list__film--conteiner,
.film_list__film:nth-child(19) .film_list__film--conteiner,
.film_list__film:nth-child(20) .film_list__film--conteiner,
.film_list__film:nth-child(21) .film_list__film--conteiner {
    left: -520px;
}
.film_list__film--conteiner .title {
    position: relative; width: 100%; height: 50px; 
    display: flex; align-items: center;
}
.film_list__film--conteiner .title p {
    font-size: 18px; padding-left: 10px;
}
.film_list__film--conteiner .tags {
    position: relative; width: 100%; height: 30px;
    margin-bottom: 20px; display: flex; align-items: center;
}
.film_list__film--conteiner .tags p {
    font-size: 12px; padding-left: 10px;
}
.film_list__film--conteiner .line {
    position: relative; width: 480px; height: 2px; left: 10px;
    border-radius: 100px; background-color: white; opacity: 0.3;
}
.film_list__film--conteiner .description {
    position: relative; width: 100%; min-height: 30px;
    padding-left: 10px; padding-right: 10px; margin-top: 30px;
    font-size: 14px; line-height: 24px; text-align: justify;
}
.film_list__film:hover {
    box-shadow: 7px 7px 10px rgba(0,0,0, 0.7);
}
.film_list__film:hover .film_list__film--conteiner {
    display: block; box-shadow: 7px 7px 10px rgba(0,0,0, 0.7);
}
.film_list__film:hover .img_card_l .img_card {
    transform: translate(-50%, -50%) scale(1.1) rotate(3deg); top: 50%; left: 50%; transition: 0.3s;
}
/* Конец - Первая секция со списком фильмов */

/* Футер */
.footer {
	position: relative; width: 100%; height: 70px; top: 70px;
	background-color: #1f1f1f;
}
.footer_content {
	position: relative; width: 1170px; height: 100%; 
    transform: translateX(-50%); left: 50%;
}
.footer_inf {
    position: relative; width: 100%; height: 100%;
}
.footer_content p {
	position: relative; font-size: 14px; 
	transform: translateY(-50%); top: 50%;
	color: white;
	float: left;
}
#year {
	margin-left: 5px;
}
.footer_inf a {
	color: white;
}
/* Конец - Футер */